<div class="footer container pt-4 pb-3">
    <div class="row ">
        <div class="col-md-3 footer--content ">
            <p style="color: rgb(51, 51, 51);font-size: 13px;font-weight: 500; " class="mb-3">HỖ TRỢ KHÁCH HÀNG</p>
            <small class="text-danger font-weight-bold">Hotline chăm sóc khách hàng: 1900-6035</small>
            <small>(1000đ/phút , 8-21h kể cả T7, CN)</small><br>
            <a href=" ">Các câu hỏi thường gặp</a><br>
            <a href=" ">Hướng dẫn đặt hàng</a><br>
            <a href=" ">Phương thức vận chuyển</a><br>
            <a href=" ">chính sách đổi trả</a><br>
            <a href=" ">Hướng dẫn trả góp</a><br>
            <a href=" ">Báo lỗi bảo mật: about@gmail.com</a><br>
        </div>
        <div class="col-md-2 footer--content ">
            <p style="color: rgb(51, 51, 51);font-size: 13px;font-weight: 500; ">VỀ FASHION</p>
            <a href=" ">Giới thiệu về Fashion</a><br>
            <a href=" ">Tuyển dụng</a><br>
            <a href=" ">chính sách bảo mật thanh toán</a><br>
            <a href=" ">Điều khoản sử dụng</a><br>
            <a href=" ">Bản hành doanh nghiệp</a><br>
        </div>
        <div class="col-md-2 footer--content ">
            <p style="color: rgb(51, 51, 51);font-size: 13px;font-weight: 500; ">HỢP TÁC VÀ LIÊN KẾT</p>
            <a href=" ">Quy chế hoạt động sàn GDTMĐT</a><br>
            <a href=" ">Bán hàng cùng Fashion</a><br>
        </div>
        <div class="col-md-3 pl-0 ">
            <p style="color: rgb(51, 51, 51);font-size: 13px;font-weight: 500; ">PHƯƠNG THỨC THANH TOÁN</p>
            <div class="payment row ">
                <div class="col-md-4 mb-2 ">
                    <img style="width: 30px;"
                        src="https://salt.tikicdn.com/ts/upload/92/b2/78/1b3b9cda5208b323eb9ec56b84c7eb87.png" alt=" ">
                </div>

                <div class="col-md-4 ">
                    <img style="width: 30px;"
                        src="https://p.kindpng.com/picc/s/279-2797793_transparent-payment-icon-png-credit-card-payment-icon.png"
                        alt=" ">
                </div>

                <div class="col-md-4 ">
                    <img style="width: 30px;"
                        src="https://p.kindpng.com/picc/s/279-2797793_transparent-payment-icon-png-credit-card-payment-icon.png"
                        alt=" ">
                </div>


                <div class="col-md-4 ">
                    <img style="width: 30px;"
                        src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQwbWI8dSRiK5LXloG_F_w6nY4GURmG6l0iqA&usqp=CAU"
                        alt=" ">
                </div>

                <div class="col-md-4 ">
                    <img style="width: 30px;"
                        src="https://salt.tikicdn.com/ts/upload/ce/f6/e8/ea880ef285856f744e3ffb5d282d4b2d.jpg" alt=" ">
                </div>

                <div class="col-md-4 ">
                    <img style="width: 30px;"
                        src="https://play-lh.googleusercontent.com/F8cUV5oOLjCTMSvSRymK1154MwKalnvkepN4xGrfWBC_tcXvNTq_sEStiwCYV61lRdI"
                        alt=" ">
                </div>
            </div>
        </div>
        <div class="col-md-2 ">
            <p style="color: rgb(51, 51, 51);font-size: 13px;font-weight: 500; ">KẾT NỐI VỚI CHÚNG TÔI</p>
            <div class="connect row ">
                <div class="col-md-3 ">
                    <a href=" ">
                        <img style="width: 30px;"
                            src="https://upload.wikimedia.org/wikipedia/commons/thumb/5/51/Facebook_f_logo_%282019%29.svg/1024px-Facebook_f_logo_%282019%29.svg.png"
                            alt=" ">
                    </a>
                </div>

                <div class="col-md-3 ">
                    <a href=" ">
                        <img style="width: 30px;"
                            src="https://upload.wikimedia.org/wikipedia/commons/thumb/3/39/Logo_of_Twitter%2C_Inc..svg/512px-Logo_of_Twitter%2C_Inc..svg.png"
                            alt=" ">
                    </a>
                </div>

                <div class="col-md-3 ">
                    <a href=" ">
                        <img style="width: 30px;" src="https://chanhtuoi.vn1.vdrive.vn/uploads/2020/10/logo-zalo.jpg "
                             alt=" ">
                    </a>
                </div>
            </div>

            <!-- <p style="color: rgb(51, 51, 51);font-size: 13px;font-weight: 500; " class="mt-3 ">TẢI ỨNG DỤNG</p>
            <div class="app ">
                <a href=" ">
                    <img class="w-50 mb-2 "
                        src="https://frontend.tikicdn.com/_desktop-next/static/img/icons/appstore.png " alt=" ">
                    <img class="w-50 " src="https://frontend.tikicdn.com/_desktop-next/static/img/icons/playstore.png "
                        alt=" ">
                </a>
            </div> -->
        </div>
    </div>

    <div class="row mt-5 ">
        <div class="author col-md-8 ">
            <h6 class="font-weight-bold small">© 2023 - <span class="text-success">Website Is Created By
                    mine</span> </h6>
            <p class="text-danger">Start project: 21.03.2023</p>
            <!-- <small>Giấy chứng nhận Đăng ký Kinh doanh số 0309532909 do Sở Kế hoạch và Đầu tư Thành phố Hồ Chí Minh cấp
                ngày 06/01/2010</small> -->
        </div>

        <div class="authent col-md-4 row align-items-center justify-content-end ">
            <div class="col-md-2 ">
                <a href=" ">
                    <img class="w-100 "
                        src="https://frontend.tikicdn.com/_desktop-next/static/img/footer/bo-cong-thuong-2.png "
                        alt=" ">
                </a>
            </div>

            <div class="col-md-4 ">
                <a href=" ">
                    <img class="w-100 "
                        src="https://frontend.tikicdn.com/_desktop-next/static/img/footer/bo-cong-thuong.svg " alt=" ">
                </a>
            </div>
        </div>
    </div>
</div>