<div class="Container-sc-itwfbd-0 hfMLFx snipcss-Apoq8 pt-4 pb-4">
    <div class="Account__StyledAccountLayout-sc-1d5h8iz-0 dLDnti">
        <app-sidebar-account [activeTag]="'review'"></app-sidebar-account>
        <div class="Account__StyledAccountLayoutInner-sc-1d5h8iz-1 jXurFV snipcss-peLbr">
            <div class="styles__StyledReviewList-sc-1f095xy-0 dDnnOl">
                <div class="heading">
                    Nhận xét của tôi
                </div>
                <div class="inner">
                    <div class="EmptyContent__StyledEmptyContent-sc-199g8di-0 gBSmfQ">
                        <img src="https://frontend.tikicdn.com/_desktop-next/static/img/mascot_fail.svg">
                        <p class="message">
                            Viết nhận xét với sản phẩm bạn đã sử dụng để cung cấp thông tin hữu ích cho mọi người
                        </p>
                        <a href="/" class="back">
                            Tiếp tục mua sắm
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>