
<div class="container main" style="overflow: 'hidden'">
    <div class="err">
        <div class="banner-top"></div>
        <div class="banner-bottom"></div>
        <div class="banner-content">
            <div class="err-404 question"><img class="w-75" src="https://salt.tikicdn.com/assets/img/404/super.png"
                    alt='404 Not Found' /></div>
            <div class="err-404"><img class="w-75" src="https://salt.tikicdn.com/assets/img/404/404.png"
                    alt='404 Not Found' /></div>
            <div class="err-404 err-h">
                <h1>Xin lỗi, trang bạn tìm kiếm <br /> đang trong quá trình phát triển !</h1>
            </div>
        </div>
    </div>
    <div class="err">
        <h5 class="suggest">Bạn có thể thử những liên kết sau</h5>
        <hr />
        <div class='row btn-quit'>
            <a href='#'>
                <button type="button" class="btn btn-primary"><i class="fa fa-angle-left mr-2"></i> Quay lại
                    trang
                    trước</button>
            </a>
            <a href='#'>
                <button type="button" class="btn btn-success">Tiếp tục mua hàng</button>
            </a>
            <a href='#'>
                <button type="button" class="btn btn-primary"> Xem thông tin tài khoản <i
                        class="fa fa-angle-right ml-2"></i></button>
            </a>
        </div>
    </div>
</div>
