<div class="Container-sc-itwfbd-0 hfMLFx snipcss-Apoq8 pt-4 pb-4">
    <div class="Account__StyledAccountLayout-sc-1d5h8iz-0 dLDnti">
        <app-sidebar-account [activeTag]="'payment-info'"></app-sidebar-account>
        <div class="Account__StyledAccountLayoutInner-sc-1d5h8iz-1 jXurFV snipcss-aZPcW">
            <div class="styles__StyledPaymentCard-sc-1uxua8a-0 cinXew">
                <div class="heading">
                    Thông tin thanh toán
                </div>
                <div class="EmptyContent__StyledEmptyContent-sc-199g8di-0 gBSmfQ">
                    <img src="https://frontend.tikicdn.com/_desktop-next/static/img/mascot_fail.svg">
                    <p class="message">
                        Lưu lại thông tin thanh toán giúp bạn đặt hàng nhanh chóng và dễ dàng hơn
                    </p>
                    <a href="/" class="back">
                        Tiếp tục mua sắm
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>